<h2>New Task</h2>

<%= form_for :task, url:tasks_path do |f| %>
<p>
<% @task.errors.full_messages.each do |message| %>
  <%= message %>
<%end%>
</p>
<p>
  Content<br>
  <%= f.text_area :content %>
</p>
<p>
  <%= f.label :Label %><br />
  <%= collection_check_boxes(:task, :label_ids, Label.all, :id, :name) do |b| %>
    <%= b.label { b.check_box + b.text } %>
  <% end %>
</p>
<p>
  Deadline<br>
  <%= f.date_field :deadline %>
</p>
<p>
  Status
  <%= f.select :status, Task.statuses.keys %>
</p>
<p>
  Priority
  <%= f.select :priority, Task.priorities.keys %>
</p>
<p>
  <%= f.submit  %>
</p>

<%end%>
