<h2>New User</h2>



<%= form_for :user, url:admin_users_path do |f| %>
<p>
  Name<br>
  <%= f.text_field :name %>
  <%= @user.errors.messages[:name][0]%>
</p>
<p>
  Email<br>
  <%= f.text_field :email %>
  <%= @user.errors.messages[:email][0]%>
</p>
<p>
  Password<br>
  <%= f.password_field :password %>
  <%= @user.errors.messages[:password][0]%>
</p>
<p>
  <%= f.submit  %>
</p>

<%end%>
